# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Raw datasets
data/raw/

# Processed datasets
data/processed/

# External/reference datasets
data/external/

# Jupyter temporary files
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

